<% if current_user %>
<div class="jumbotron vertical-center">
  <div class="container">
    <h1 class="display-3">APIcurious</h1>
    <p>This application authenticates a user via GitHub, makes calls to the GitHub API, and returns selected data</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <% @events.each do |event| %>
      <tr>
        <td><%= event.login %> <%= event.type %> <%= event.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="col-md-3 col-md-offset-1">
  <table class="table table-hover">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>Followers: <%= current_user.followers %></td>
        </tr>
        <tr>
          <td>Following: <%= current_user.following %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% else %>
<div class="jumbotron vertical-center">
  <div class="big">
    <div class="container">
      <h1 class="display-3">APIcurious</h1>
      <p>You must log in to use this application!</p>
    </div>
      <%= link_to "Login", github_login_path %>
  </div>
</div>
<% end %>
